# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  'ctrl-enter': 'block-selection-mode:toggle'

'.atom-text-editor.block-selection-mode':
  'ctrl-n': 'block-selection-mode:next-line'
  'down'  : 'block-selection-mode:next-line'
  'ctrl-p': 'block-selection-mode:previous-line'
  'up'    : 'block-selection-mode:previous-line'
  'ctrl-f': 'block-selection-mode:forward-char'
  'right' : 'block-selection-mode:forward-char'
  'ctrl-b': 'block-selection-mode:backward-char'
  'left'  : 'block-selection-mode:backward-char'
  'ctrl-g': 'core:cancel'
  'escape': 'core:cancel'
  'alt-<': 'block-selection-mode:move-to-top'
  'alt->': 'block-selection-mode:move-to-bottom'
